[core]
	editor = nano --tabstospaces --autoindent --const --tabsize=2 --fill=70
[user]
	email = me@stefanmaric.com
	name = Stefan Maric
	signingkey = ~/.ssh/id_rsa.pub
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	amend = commit --status --verbose --amend
	bl = branch -av
	c = commit --status --verbose
	cm = commit -m
	co = checkout
	dc = diff --cached
	diff = diff --word-diff=color
	st = status --short --branch
	tl = tag --list
	su = !git pull && git submodule foreach 'git checkout $(git -C $toplevel symbolic-ref --short --quiet HEAD) && git pull'
# `git publish` pushes a new or existing local branch.
# Usage:
# 	git publish [<remote>] [<branch>]
# Details:
# 	No args:		push current branch to origin.
# 	One arg:		push that branch to origin.
# 	Two args:		push branch to explicit remote.
	publish = !git-publish
# `git purge` does local and remote cleanup.
# Usage:
# 	git purge [--dry-run] [<remote>] [<base_branch>]
	purge = !git-purge

# Tell git to infer my username for github and bitbucket https repos
[url "https://stefanmaric@github.com/"]
	insteadOf = https://github.com/
	insteadOf = git@github.com:
	insteadOf = git@github.com/
	insteadOf = ssh://git@github.com:
	insteadOf = ssh://git@github.com/
[url "https://stefanmaric@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
	insteadOf = git@bitbucket.org:
	insteadOf = git@bitbucket.org/
	insteadOf = ssh://git@bitbucket.org:
	insteadOf = ssh://git@bitbucket.org/
[pull]
	ff = only
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgsign = true
[rerere]
	enabled = true
