[core]
	editor = nano --smooth --tabstospaces --autoindent --const --tabsize=2 --fill=70
[user]
	email = alexstefan92@gmail.com
	name = Stefan Maric
[push]
	default = simple
[credential]
	helper = cache --timeout=7200
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	ap = add --patch
	su = !git pull && git submodule foreach 'git checkout $(git -C $toplevel symbolic-ref --short -q HEAD) && git pull'
	st = status --short --branch
	dc = diff --cached
	c = commit --status --verbose
	cm = commit -m
	co = checkout
	br = branch
	lc = log -1
	tl = tag --list
	amend = commit --status --verbose --amend
	diff = diff --word-diff=color
# `git publish` pushes a new or existing local branch to a given remote.
# Usage:
# 	git publish [<remote>] <branch>
# Options:
# 	<remote>		Configured remote or GIT URL [default: origin].
# 	<branch>		Name of new or existing branch.
	publish = "!f(){ \
		b=${2:-$1};\
		test -z $2 && r=origin || r=$1;\
		git checkout $b || git checkout -b $b && git push -u $r $b;\
	}; f"

# Tell git to infer my username for github and bitbucket https repos
[url "https://stefanmaric@github.com/"]
	insteadOf = https://github.com/
[url "https://stefanmaric@bitbucket.org/"]
        insteadOf = https://bitbucket.org

# Also tell git to use https: instead of git:
[url "https://stefanmaric@github.com/"]
	insteadOf = git@github.com:
[url "https://stefanmaric@bitbucket.org/"]
	insteadOf = git@bitbucket.org:
