[user]
	email = alexstefan92@gmail.com
	name = Stefan Maric
[push]
	default = simple
[credential]
	helper = cache --timeout=28800
[color]
	branch = auto
	diff = auto
	status = auto
[branch]
	autosetuprebase = always
[alias]
	st = status -sb
	cm = commit -m
	co = checkout
	br = branch
	amend = commit --amend
	diff = diff --word-diff=color
	update = !git pull --rebase --prune $@ && git submodule update --init --recursive

[url "https://stefanmaric@github.com"]
	insteadOf = https://github.com

[url "https://stefanmaric@bitbucket.org"]
	insteadOf = https://bitbucket.org
