[Desktop Entry]
Version=1.0
Name=Redshift
Name[de]=Redshift
Name[es]=Redshift
Name[fr]=Redshift
Name[hu]=Redshift
Name[it]=Redshift
Name[lt]=Redshift
Name[pl]=Redshift
Name[pt_BR]=Redshift
Name[ru]=Redshift
Name[sr]=Редшифт
Name[tr]=Redshift
Name[zh_CN]=红移
GenericName[cs]=Přizpůsobení barevné teploty
GenericName[da]=Justering af farvetemperatur
GenericName[de]=Farbtemperatur Anpassung
GenericName[es]=Ajuste de la temperatura de color
GenericName[fr]=Réglage de la température de couleur
GenericName[hu]=Szín hőmérséklet beállítás
GenericName[it]=Regolazione della temperatura del colore
GenericName[lt]=Spalvos temperatūros reguliavimas
GenericName[nl]=Kleurtemperatuur aanpassing
GenericName[pl]=Dostosowanie temperatury barwowej
GenericName[pt_BR]=Ajuste de temperatura de cor
GenericName[ru]=Настройка цветовой температуры
GenericName[sr]=Прилагођавање температуре боје
GenericName[tr]=Renk sıcaklığı ayarı
GenericName[zh_CN]=色温调节
GenericName=Color temperature adjustment
GenericName=Color temperature adjustment
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Comment[da]=Justeringsværktøj for farvetemperatur
Comment[de]=Farbtemperatur Anpassungswerkzeug
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[fr]=Outil de réglage de la température de couleur
Comment[hu]=Színhőmérséklet beállító eszköz
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[pt_BR]=Ferramenta de ajuste de temperatura de cor
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[sr]=Алатка за прилагођавање температуре боје
Comment[tr]=Renk sıcaklığı ayarlama aracı
Comment[zh_CN]=色温调节工具
Comment=Color temperature adjustment tool
Comment=Color temperature adjustment tool
Exec=redshift-gtk
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-Delay=3
X-GNOME-Autostart-enabled=true
