"*":
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "whitespace"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "atom-ternjs"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 17
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "1afe37d3-b53c-4744-a2f9-984309393dd3"
  linter: {}
  "linter-eslint":
    globalNodePath: "/home/sam/n"
    useGlobalEslint: true
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
